<!DOCTYPE >
<html html xmlns:th="http://www.thymeleaf.org"
th:include="/layouts/layout::plantilla">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <!-- Custom fonts for this template-->

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</head>
<body>

    <div th:fragment="user">
        <span th:if="${user!=null}" th:text="${user}"></span>
    </div>
    
    <div  th:fragment="content" >
        <div class="container">
            <h2 class="text-center">Listado de categorias</h2>
            <table class="table" th:if="${items.size()>0}" id="datos">
                <thead>
                    <tr> 
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                <!-- Estructira repetitiva para recorrer el listado que viene en
                variable 'items', esta el el foreach -->
                    <tr th:each="i : ${items}">
                        <td th:text="${i.id}"></td>
                        <td th:text="${i.nombre}"></td>	
                        <td>
                            <a name="" id="" class="btn btn-warning" href="" role="button">Modificar</a>
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>

      
    </div>
    

</body>
</html>